@import url("reset.css");
@import url("header.css");
@import url(banner.css);
@import url(carrosel.css);
:root{
    --cor-de-fundo: #ffffff;
    --branco: #ff0202;
}

body{
   background-color: var(#ffffff);
}


