@import url("reset.css");
@import url("header.css");
@import url("banner.css");
@import url("carrosel.css");
:root{
    --cor-de-fundo: #ff0000;
    --branco: #ff0000;
}

body{
   background-color: var(#ffffff);
}


